html {
	width: 98%;
	height: 98%;
}

body {
	display: flex;
	place-items: center;
	min-width: 100%;
	min-height: 100%;
}

.card {
	width: 30rem;
	margin: auto;
}

.details {
	padding: 0.5rem 1.3rem 0.5rem 1.3rem;
}

.content {
	padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
}

.profile {
	display: flex;
}

.avatar {
	align-items: center;
	display: flex;
	justify-content: center;

	height: 8rem;
	width: 8rem;
}

.avatar__image {
	height: 80%;
	width: 80%;
}

.intro {
	flex: 1;
}

.name {
	margin: 0.7rem 0 0.3rem 0;
}

.text {
	font-size: medium;
}

.self-intro {
	padding: 0 0 0 0.5rem;
}

.about {
	padding: 0 0 1rem 0;
	text-align: center;
}
