body {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;

	margin: 0;
	padding: 0;
}

.card {
	width: 30rem;
}

.details {
	padding: 0.5rem 1.3rem 0.5rem 1.3rem;
}

.content {
	padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
}

.profile {
	display: flex;
}

.avatar {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 8rem;
	width: 8rem;
}

.avatar__image {
	height: 80%;
	width: 80%;
}

.intro {
	flex: 1;
}

.name {
	margin: 0.7rem 0 0.3rem 0;
}

.text {
	font-size: medium;
}

.self-intro {
	padding: 0 0 0 0.5rem;
}

.about {
	text-align: center;
	line-height: 1.8rem;
  padding: .5rem .5rem .5rem !important;
}
